/* Setup */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    background: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}
  
img {
    max-width: 100%;
}


/* \Setup */
/* Entire schedule builder */
#sb-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}
/* Left portion */
#main-container {
    width: calc(100vw - 170px);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

/* Toolbar */

.toolbar {
    width: 100%;
}
.toolbar ul {
    width: 100%;
    margin: 0.5rem;

    display: flex;
    flex-flow: row nowrap;
}
.toolbar ul li {
    padding: 0.15rem 0.25rem;
    margin: 0 0.35rem;
    height: 2.2rem;

    cursor: pointer;
    border: solid;
    flex-grow: 0;
    transition: box-shadow 0.2s;

    text-align: center;
}
.toolbar ul li:hover {
    border: solid rgb(30, 0, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.toolbar ul li:nth-child(odd) {
    border-radius: 5px 0 0 5px;
}
.toolbar ul li:nth-child(even) {
    border-radius: 0 5px 5px 0;
}
.toolbar ul span {
   flex-grow: 1;
    
}
.toolbar .search-box {
    width: 50%;
}

.toolbar .settings {
    border-radius: 5px !important;
}
.toolbar .settings .animating {
    animation: rotate-gear 0.5s;
}
@keyframes rotate-gear {
    from {transform: rotate(0deg);}
    to {transform: rotate(60deg);}
}

.toolbar .filter-svg {
    position: relative;
    top: 2px;
}
.toolbar .search-box, .settings, .filter-btn {
    position: relative;
    right: calc(0.85rem + 1px);
}


/* \Toolbar */

/* Schedule Builder (Rows and Schedule Table) */

.schedule-container {
    width: 100%;
    height: 100%;
    flex: 1;
    background-color: #fff;
    border-top: solid;
    display: flex;
    flex-flow: row nowrap;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* Rows Column */

.rows-container {
    min-width: 170px;
    width: 170px;
    max-width: 170px;
    height: fit-content;

    border-right: solid;

    background-color: #ffc368;
  
    word-break: break-all;
    text-align: center;
    border-right: 1px solid #fff;
    position: sticky;
    left: 0;
    z-index: 5;
}
  
.rows-header {
    background-color: #000;
    color: #fff;
    font-weight: 600;
  
    /* margin-b ottom: 5px; */
    padding: 5px;
    padding-bottom: 10px;
    
    position: sticky;
    top: 0;
}
  
.single-row-container {
    padding: 5px 10px;
    min-height: 70px;
    width: 100%;
    
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent 10%, #000 10%, #000 90%, transparent 90%) 100% 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-row-container:last-child {
    border-bottom: none;
}
.single-row-container p {
    margin: auto;
    font-weight: 500;
}

/* \Rows Column */


/* Schedule Table */
.schedule-table-container {
    flex: 1;
    height: fit-content;
}
.schedule-table-columns {
    flex: 1;

    overflow-x: auto; 
    height: fit-content;
    display: flex;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.column-container {
    min-width: 170px;
    /* width: 170px; */

    flex: 1;
    text-align: center; 
    display: unset; 
}
.schedule-table-headers {
    flex: 1;

    width: 100%;
    position: sticky;
    display: flex;
    flex-flow: row nowrap;

    top: 0;
    z-index: 4;
}
.column-header {
    display: inline-block;
    min-width: 170px;
    flex: 1;

    background-color: #000;
    color: #fff;
    font-weight: 600;
  
    /* margin-bottom: 5px;  */
    padding: 5px;
    padding-bottom: 10px;


}
.column-row {
    padding: 5px;
    min-height: 70px;
    height: 100%;
    width: 100%;

    /* border: solid; */
    border-bottom: 1px solid #d9d9d9;

    display: flex;
    align-items: center;
    justify-content: center;
}
.column-row:last-child {
    border-bottom: none;
}
.column-container:not(:first-child) .column-row{
    border-left: solid 1px #d9d9d9;
}

/* \Schedule Table */

/* \Schedule Builder (Rows and Schedule Table) */

/* Selections Column */

.selections-container {
    min-width: 170px;
    max-width: 10vw;

    border-left: solid;
    background-color: #00114b;
}

.selection-header {
    margin-top: 20px;
    padding: 10px;
    
}
.selection-header h4 {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent 20%, #fff 20%, #fff 80%, transparent 80%) 100% 1;  
}

.selections-column-container {
    min-width: 160px;
    max-width: calc(10vw - 20px);
    height: calc(100% - 60px - 1.3rem);
    
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  
    margin: 5px;
    padding: 0 5px;
    padding-bottom: 0;
  
    word-break: break-all;
    text-align: center;
    display: inline-block;
    flex: 1;
    
    z-index: 1;
}
.selection-container {
    margin: 10px 0px;
    padding: 5px;
    border-radius: 10px;  
    background-color: #d7dfff;
  
    cursor: pointer;
  
    z-index: 2;
  
    overflow: hidden;
    word-break: break-all;
}
.selection-overlay {
    bottom: 0.65rem;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.05), 0 6px 20px 0px rgba(0, 0, 0, 0.05);
}

/* \Selections Column */

/* Trashcan */
.trash {
    position: absolute;
    right: max(10vw, 200px);
    top: 0.6rem;
    height: 4rem;
}
.trash-lid, .trash-base {
    filter: drop-shadow(2px 2px red);
    
    display: flex;
}
.trash-base {
    /* top: 1.5rem; */
    position: relative;
    bottom: -0.5vh;
    height: 2.5rem;
}
.trash-lid {
    position: relative;
    right: -0.12rem;
    width: 2.5rem;
    animation: close-lid 0.5s;

}
.trash .lifting-lid {
    animation: lift-lid 0.5s !important;

    transform: rotate(45deg) translate(1.25rem, -1.25rem)
}
@keyframes lift-lid {
    from {transform: rotate(0deg) translate(0, 0)}
    to {transform: rotate(45deg) translate(1.25rem, -1.25rem)};
}
@keyframes close-lid {
    from {transform: rotate(45deg) translate(1.25rem, -1.25rem)};
    to {transform: rotate(0deg) translate(0, 0)}
}
@media (max-width: 890px) {
    .trash-lid {
        display: none;
    }
    .title {
        display: none;
    }
}
/* \Trashcan */

/* Covers */

.selections-drop-cover {
    position: absolute;
    height: 100vh;
    background-color: none;
    z-index: -1;
    width: 170px;

}
.cover-l {
    float: left;
}
.cover-r {
    right: 0;
}

/* \Covers */