/* Seach box */
#search-input {
    resize: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    background: transparent;

    width: calc(100% - 24px - 1rem);
    /* height: 100%; */
    height: calc(1.3rem + 5px);
    font-size: 1.3rem;

    float: left;

    white-space: nowrap;
    overflow-x: auto;
    /* text-overflow: ellipsis; */
}
#search-input::-webkit-scrollbar {
    display: none;
}
.erase-search-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 0.25rem;
    background-color: white;
    height: 100%;
    width: calc(24px + 1rem);
}
.erase-search-icon svg {
    float: right;
    position: 0;
    top: 0;
    vertical-align: center;
    height: 100%;
}
.erase-search-icon svg:hover {
    filter: invert(27%) sepia(95%) saturate(6480%) hue-rotate(355deg) brightness(93%) contrast(119%);
    background-color: transparent;
}

/* Search Box\ */

/* Settings Dropdown */
.settings-dropdown::-webkit-scrollbar-thumb:hover {
    border-right: none;
}
.settings-dropdown {
    position: absolute;

    border: solid;
    border-radius: 10px;

    height: 71vh;
    width: 25rem;
    padding: 5px;

    top: 120px;
    right: calc(max(10vw, 190px) + 0.5rem);

    background-color: white;
    z-index: 10;

    display: flex;
    flex-flow: column;

    overflow: auto;
}
.settings-dropdown h2{
    align-self: center;

    padding: 0 20px;

    width: fit-content;
    border-bottom: solid;

    margin: 5px;
}
.settings-elements li {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.li-switch {
    transform: scale(0.8);
    position: relative;
    top: 2px;
    /* Sneaky little adjustment - Works */
    height: 1px;
}
.settings-elements li h4 {
    display: inline;
    margin-right: 0;
}

.color-settings-container {
    padding: 10px;
}

.change-colors-btn {
    cursor: pointer;
    width: fit-content;
}
/* .change-colors-container {
    margin-bottom: 10px;
} */
/* Changing the parameter in parentheses changes the event */
/* This is the list prior to clicking on it */
.change-colors-container:not(.trigger) > .change-colors-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25,25,25,0);
    transition: 
      0.5s 0.1s height,
      0.5s 0.1s padding,
      0.5s 0.1s margin,
      0.3s color,
      0.6s visibility;
    z-index: 99;
}
/* This is after */
.change-colors-dropdown > * {
    overflow: hidden;
    height: 30px;
    padding: 1px 0px;
    background: rgba(0,0,0,0);
    white-space: nowrap;
    transition: 
      0.5s height cubic-bezier(.73,.32,.34,1.5),
      0.5s padding cubic-bezier(.73,.32,.34,1.5),
      0.5s margin cubic-bezier(.73,.32,.34,1.5),
      0.5s 0.2s color,
      0.2s background-color;
} 

.color-picker-btn {
    width: 1rem;
    height:1rem;
    margin: 5px;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
}   
/* CHANGE THIS, THE TAG OF THE COLOR PICKER (TWITTER) CHANGES FOR SOME REASON > UNRELIABLE */
.change-colors-dropdown li input {
    background-color: white !important;
    height: 1 !important;
    padding: 0.08em;
}

.subject-limit-switch {
    position: relative;
    top: -10px;
}
.number-input {
    max-width: 40%;
    margin-left: 10px
}

/* \Settings Dropdown */

/* Filter Dropdown */
.filter-dropdown {
    position: absolute;

    border: solid;
    border-radius: 10px;

    height: 19rem;
    width: 25rem;
    padding: 5px;

    top: 120px;
    right: calc(max(10vw, 190px) + 3.7rem);

    background-color: white;
    z-index: 10;

    display: flex;
    flex-flow: column;
}
.filter-dropdown h2{
    align-self: center;

    padding: 0 20px;

    width: fit-content;
    border-bottom: solid;

    margin: 5px;
}

.filter-selections, .filter-rows {
    flex: 1;
}
.filter-dropdown h3 {
    margin: auto;
    width: fit-content;
    cursor: pointer;
}

.filter-elements li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-elements li h3 {
    display: inline;
    margin: 10px;
}

/* Undo */
.undoredo-container {
    position: absolute;
    margin: 10px;
}
.undoredo-container svg {
    margin: 3px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.undoredo-container svg:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.btn-disabled {
    color: gray;
    fill: gray !important;
    pointer-events: none !important;
    box-shadow: none !important;
}
/* \Undo */

/* Trashcan */
.trash {
    position: absolute;
    right: max(11vw, 210px);
    top: 0.6rem;
    height: 4rem;
}
.trash-lid, .trash-base {
    filter: drop-shadow(2px 2px red);
    
    display: flex;
}
.trash-base {
    /* top: 1.5rem; */
    position: relative;
    bottom: -0.5vh;
    height: 2.5rem;
}
.trash-lid {
    position: relative;
    right: -0.12rem;
    width: 2.5rem;
    animation: close-lid 0.5s;

}
.trash .lifting-lid {
    animation: lift-lid 0.5s !important;

    transform: rotate(45deg) translate(1.25rem, -1.25rem)
}
@keyframes lift-lid {
    from {transform: rotate(0deg) translate(0, 0)}
    to {transform: rotate(45deg) translate(1.25rem, -1.25rem)};
}
@keyframes close-lid {
    from {transform: rotate(45deg) translate(1.25rem, -1.25rem)};
    to {transform: rotate(0deg) translate(0, 0)}
}
@media (max-width: 45rem) {
    .trash-lid, .trash-base, .trash {
        display: none;
    }
    .title {
        color: transparent;
        /* width: 0; */
    }
}
/* \Trashcan */

/* Context Menu */

.context-menu-container {
    border: solid;
    width: 6rem;
    height: max(15rem, fit-content);
    background-color: #c2ceff;
    border-radius: 5px;
    z-index: 10000;
    display: flex;
    flex-flow: column;
}
.context-menu-delete {
    background-color: #ffa6a6;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.context-menu-delete::after {
    border-radius: 10px !important;
}
.context-menu-delete p {
    margin: auto;
    width: fit-content;
}

.information-section {
    border: solid;
    border-radius: 10px;

    background-color: #d7dfff;

    margin-top: 5px;
    width: 100%;
    flex-grow: 1;
}
.info-name {
    border: solid;
    border-radius: 10px;
    margin: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-word;

    background-color: #c7d2ff;

}
.info-subject {
    margin: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-word;
}

/* \Context Menu */