/* Export */
.export-container {
    z-index: 9;
    position: absolute;
    border: solid;
    border-radius: 5px;

    background-color: white;
    left: calc(30px + 4rem);
    top: 120px;

    padding: 5px;
}

.export-container div {
    margin: 5px 0;
    cursor: pointer;
    transition: all 0.2s;
}
.export-container div:hover {
    color: #52556e
}

/* /Export */

/* Import */

.shade {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.import-container {
    z-index: 9;
    border: solid;
    border-radius: 10px;
    background-color: white;

    padding: 10px;
    width: 80vw;
    height: 80vh;

    display: flex;
    flex-flow: column;
}
.import-container h1 {
    padding: 0 10px;
    margin: 0 auto;
    height: 3rem;
    border-bottom: solid;
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

/* Imports Choices */
.imports-choices {
    position: relative;
    margin-top: calc(1.5rem + 5px);
    height: calc(80vh - 4.5rem - 30px);

    display: flex;
    justify-content: space-evenly;
}
.choice {
    border: solid;  
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    /* space to take up minus total margin/padding */
    width: calc(33.3333333% - 20px);
    /* height: 60vh; */
}
.choice h3 {
    width: fit-content;
    border-bottom: solid;
    padding: 0 5px;
    margin: auto;
}
.choice-elements-container {
    margin: 5px;    
    height: calc(80vh - 4.5rem - 95px);
    overflow: auto;
}

.column-choice-element, .row-choice-element, .selection-choice-element {
    border: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    word-break: break-all;

    overflow-x: none;
    cursor: pointer;
    background-color: white;
}

.choice-top-sticky {
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding-bottom: 0;
    margin: 0 10px 0 10px;

    display: flex;
    flex-direction: row;
}
.choice-search {
    box-sizing: border-box !important;
    border: solid black !important;
    border-radius: 10px;

    height: 2.5rem !important;
    margin: 0 5px 0 0;

    padding: 0.3rem 5px 0 5px;
}
.add-btn {
    transition: color 0.2s;

    margin: 0 !important;
    height: 2.5rem !important;
    width: 2.5rem !important;

    display: flex;
    justify-content: center;
    align-items: center;
}
.add-btn svg {
    padding-bottom: 0;
    margin-bottom: 0;
}
.add-btn:hover {
    color: rgb(93, 99, 184);
}

/* /Imports Choices */

.importAll-editSubjects-container {
    position: absolute;
    right: calc(10vw + 10px);

    width: fit-content;
    height: 4.5rem;

    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}

/* Edit Subjects */

.edit-subjects-btn {
    border: solid;
    border-radius: 10px;

    height: fit-content;

    margin-right: 10px;
    padding: 5px;

    cursor: pointer;
    transition: all 0.2s;
}
.edit-subjects-btn:hover {
    border-color: rgb(93, 99, 184);
}
.edit-subjects-container {
    z-index: 9;
    position: absolute;
    border: solid;
    border-radius: 10px;
    background-color: white;

    padding: 10px 10px 0 10px;
    width: 55vw;
    height: 60vh;

    display: flex;
    flex-flow: column;
}
.edit-subjects-container h2 {
    padding: 0 5px;
    margin: 0 auto;
    border-bottom: solid;

    width: fit-content;
    height: 2.5rem;
    display: inline-block;  
}

.edit-subjects-content {
    display: flex;
    flex-flow: row;
    height: calc(60vh - 2.5rem - 10px);
    padding: 10px;
}

.subjects-container {
    margin: auto;
    height: 100%;
    overflow-y: auto;
    border-right: solid;
    padding: 10px;
    width: 50%;
}

.subject {
    border: solid;
    border-radius: 10px;
    width: fit-content;
    padding: 0 10px;
    margin: 10px auto;
    cursor: pointer;
}

.edit-subject-container {
    width: 50%;
    height: 100%;
    border: solid;
}
.editting-container {
    border: solid;
    width: 100%;
    height: 50%;
    margin-left: 10px;
}


/* /Edit Subjects */

/* ImportAll */

.importAll-container {
    z-index: 10;
    border: solid;
    border-radius: 5px;

    background-color: white;

    padding: 5px;
    height: 4.5rem;
    width: fit-content;

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.importAll-container div {
    /* margin: 0; */
    cursor: pointer;
    transition: all 0.2s;
}
.importAll-container div:hover {
    color: #2c3cc7
}

/* /ImportAll */

/* /Import */

/* Search box */
.search-input {
    resize: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    background: transparent;

    width: calc(100% - 24px - 1rem);
    /* height: 100%; */
    height: calc(1.3rem + 5px);
    font-size: 1.3rem;

    float: left;

    white-space: nowrap;
    overflow-x: auto;
    /* text-overflow: ellipsis; */
}
.search-input::-webkit-scrollbar {
    display: none;
}
.erase-search-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 0.25rem;
    background-color: white;
    height: 100%;
    width: calc(24px + 1rem);
}
.erase-search-icon svg {
    float: right;
    position: 0;
    top: 0;
    vertical-align: center;
    height: 100%;
}
.erase-search-icon svg:hover {
    filter: invert(27%) sepia(95%) saturate(6480%) hue-rotate(355deg) brightness(93%) contrast(119%);
    background-color: transparent;
}

/* Search Box\ */

/* Settings Dropdown */
.settings-dropdown::-webkit-scrollbar-thumb:hover {
    border-right: none;
}
.settings-dropdown {
    position: absolute;

    border: solid;
    border-radius: 10px;

    height: 71vh;
    width: 25rem;
    padding: 5px;

    top: 120px;
    right: calc(max(10vw, 190px) + 0.5rem);

    background-color: white;
    z-index: 10;

    display: flex;
    flex-flow: column;

    overflow: auto;
}
.settings-dropdown h2{
    align-self: center;

    padding: 0 20px;

    width: fit-content;
    border-bottom: solid;

    margin: 5px;
}
.settings-elements li {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.li-switch {
    transform: scale(0.8);
    position: relative;
    top: 2px;
    /* Sneaky little adjustment - Works */
    height: 1px;
}
.settings-elements li h4 {
    display: inline;
    margin-right: 0;
}

.color-settings-container {
    padding: 10px;
}

.change-colors-btn {
    cursor: pointer;
    width: fit-content;
}
/* .change-colors-container {
    margin-bottom: 10px;
} */
/* Changing the parameter in parentheses changes the event */
/* This is the list prior to clicking on it */
.change-colors-container:not(.trigger) > .change-colors-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25,25,25,0);
    transition: 
      0.5s 0.1s height,
      0.5s 0.1s padding,
      0.5s 0.1s margin,
      0.3s color,
      0.6s visibility;
    z-index: 99;
}
/* This is after */
.change-colors-dropdown > * {
    overflow: hidden;
    height: 30px;
    padding: 1px 0px;
    background: rgba(0,0,0,0);
    white-space: nowrap;
    transition: 
      0.5s height cubic-bezier(.73,.32,.34,1.5),
      0.5s padding cubic-bezier(.73,.32,.34,1.5),
      0.5s margin cubic-bezier(.73,.32,.34,1.5),
      0.5s 0.2s color,
      0.2s background-color;
} 

.color-picker-btn {
    width: 1rem;
    height:1rem;
    margin: 5px;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
}   
/* CHANGE THIS, THE TAG OF THE COLOR PICKER (TWITTER) CHANGES FOR SOME REASON > UNRELIABLE */
.change-colors-dropdown li input {
    background-color: white !important;
    height: 1 !important;
    padding: 0.08em;
}

.subject-limit-switch {
    position: relative;
    top: -10px;
}
.number-input {
    max-width: 40%;
    margin-left: 10px
}

/* \Settings Dropdown */

/* Filter Dropdown */
.filter-dropdown {
    position: absolute;

    border: solid;
    border-radius: 10px;

    height: 19rem;
    width: 25rem;
    padding: 5px;

    top: 120px;
    right: calc(max(10vw, 190px) + 3.7rem);

    background-color: white;
    z-index: 10;

    display: flex;
    flex-flow: column;
}
.filter-dropdown h2{
    align-self: center;

    padding: 0 20px;

    width: fit-content;
    border-bottom: solid;

    margin: 5px;
}

.filter-selections, .filter-rows {
    flex: 1;
}
.filter-dropdown h3 {
    margin: auto;
    width: fit-content;
    cursor: pointer;
}

.filter-elements li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-elements li h3 {
    display: inline;
    margin: 10px;
}

/* Undo */
.undoredo-container {
    position: absolute;
    margin: 10px;
}
.undoredo-container svg {
    margin: 3px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.undoredo-container svg:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.btn-disabled {
    color: gray;
    fill: gray !important;
    pointer-events: none !important;
    box-shadow: none !important;
}
/* \Undo */

/* Trashcan */
.trash {
    position: absolute;
    right: max(11vw, 210px);
    top: 0.6rem;
    height: 4rem;
}
.trash-lid, .trash-base {
    filter: drop-shadow(2px 2px red);
    
    display: flex;
}
.trash-base {
    /* top: 1.5rem; */
    position: relative;
    bottom: -0.5vh;
    height: 2.5rem;
}
.trash-lid {
    position: relative;
    right: -0.12rem;
    width: 2.5rem;
    animation: close-lid 0.5s;

}
.trash .lifting-lid {
    animation: lift-lid 0.5s !important;

    transform: rotate(45deg) translate(1.25rem, -1.25rem)
}
@keyframes lift-lid {
    from {transform: rotate(0deg) translate(0, 0)}
    to {transform: rotate(45deg) translate(1.25rem, -1.25rem)}
}
@keyframes close-lid {
    from {transform: rotate(45deg) translate(1.25rem, -1.25rem)}
    to {transform: rotate(0deg) translate(0, 0)}
}
@media (max-width: 45rem) {
    .trash-lid, .trash-base, .trash {
        display: none;
    }
    .title {
        color: transparent;
        /* width: 0; */
    }
}
/* \Trashcan */