/* Header */
.header {
  padding: 10px;
}

.header .title {
  font-size: 2rem;
  font-weight: 600;
}

/* Popup */

.popup-container {
  position: absolute;
  background-color: rgba(10, 15, 19, 0.1);
  height: 100vh;
  width: 100vw;
  z-index: 9999;
}
.popup-body {
  height: 70%;
  width: 70%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

  position: relative;
  top: 15%;
}

.close-popup-btn {
  position: absolute;
  right: 0%;
  /* float: right; */
  cursor: pointer;
  border: solid;
  border-radius: 15px;
  margin: 10px;
}
.close-popup-btn:hover {
  fill: #FFF;
  background-color: #BB271A;
}
/* \Popup */

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0,0,0);
  border: solid;
  border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255,255,255);
  cursor: pointer;
}
/* \Scrollbar */
